@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Source+Code+Pro:400,700');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,700');

body{
    padding-top: 100px;
    font-family: "Quicksand";
}
#particles-js {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left,#6442ff 0%,#9012fe 100%);
}
#myRange{
	width: 100%;
	margin-top: 30px;
}
#myRangeVal{
	text-align: center;
	margin-top: 22px;
}
.clear_data_button {
    display: block;
    width: 100%;
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center; 
}
.clear_data_button:hover {
    background-color: #357a38;  
}
.clear_data_button:active {
    background-color: #255728;  
}
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 800) {
    /* For desktop: */
    .col-6 {width: 50%;}
}

.camera_class{
	text-align: center;
	margin: auto;
}

.chartpane{
    background-color: #fff;
}



/* NEW */

.sidebar{
	position:absolute;
	border: 0;
	background-color: #181818;
	width: 250px;
	left: 0;
	top: 0;
	margin-left: -250px;
	z-index: 1031;
	transition: all .8s cubic-bezier(0.53, 0.09, 0, 0.97);
}
.sidebar_cover{
	position:fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: #181818;
	display: none;
	z-index: 1030;
}
.nav_head{
	width: 100%;
	height: 60px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	background-color: #fff;
	line-height: 60px;
	text-align: center;
	font-size: 22px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.nav_items{
	position: relative;
    overflow: hidden;
	width: 100%;
	height: 60px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	cursor: pointer;
	color: #fff;
	line-height: 60px;
	text-align: center;
	font-size: 16px;
	transition: all .3s ease-in;
}
.nav_items a{ width:100%;height: 100%;}
.nav_items span
{ 
	position:absolute; 
	display: block;
	width: 0;
	height: 0;
	left: 0%;
	top: 50%;
    border-radius: 50%;
	transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
	transform: translate(-50%, -50%);
	z-index: -1;
} 
#nav_h span{background-color: #5d4037;}
#nav_d span{background-color: #007BFF;}
#nav_f span{background-color: #F44336;}
#nav_c span{background-color: #9C27B0;}

#pp-nav li .active span, .pp-slidesNav .active span {
	background: #fff;
}

#mainNav {
	position: none;
	border-color: rgba(34, 34, 34, 0.05);
	background-color: #0000;
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	transition: all .2s ease-in;
	font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
	font-weight: 200;
	letter-spacing: 1px;
}
#mainNav .navbar-menu {margin-top: 45px;}
#mainNav .brand_pane{
	position: absolute;
	pointer-events: none;
	width: 100%;
	text-align: center;
	left: 0;
	top: 0;
	margin: auto;
	height:100%;
	padding-top:20px;
}
#mainNav .navbar-brand {
	background-color: #fff;
	pointer-events: all;
	border-radius: 60px;
	width: 60px;
	height: 60px;
	text-align: end;
    transition: all .2s ease-in;
    box-shadow: 0px 0px 12px 1px #6442ff;
}

#mainNav .navbar-brand > .logo{
	width: 0px;
	height: 0px;
    padding: 20px;
    padding-top: 21px;
	float: left;
	margin: 4.5px 0 0 10px;
	background: url("/static/icon.svg") no-repeat center;
    background-size: 40px;
    -webkit-animation: rotation 2s infinite linear;
}
#mainNav .nav-menu-button{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	border: 0;
	background-color: #fff;
	border-radius: 0 60px 60px 0;
	width: 120px;
	height: 60px;
	top: 0;
	right: 0;
	margin: 20px -70px 0 0;
	box-shadow: 0px 0px 12px 1px #6442ff;
	transition: all .8s cubic-bezier(0.53, 0.09, 0, 0.97);
}
#mainNav .navbar-toggler {
	border: 0;
	width: 50px;
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	transition: transform .55s ease-in;
	margin: 0 -25px 0 20px;
}
#mainNav .navbar-toggler.open {
	transform: rotate(-45deg);  
}
#mainNav .navbar-toggler .line-menu {
	background-color: #000;
	border-radius: 5px;
	width: 100%;
	height: 2px;
}

#mainNav .navbar-toggler .line-menu.half {
	width: 50%;
}

#mainNav .navbar-toggler .line-menu.start {
	transition: transform .55s cubic-bezier(0.54, -0.81, 0.57, 0.57);
	transform-origin: right;
}

#mainNav .navbar-toggler.open .line-menu.start {
	transform: rotate(-90deg) translateX(3px);
}

#mainNav .navbar-toggler .line-menu.end {
	align-self: flex-end;
	transition: transform .55s cubic-bezier(0.54, -0.81, 0.57, 0.57);
	transform-origin: left;
}

#mainNav .navbar-toggler.open .line-menu.end {
	transform: rotate(-90deg) translateX(-3px);
}

#mainNav .navbar-nav > li > a {
	font-size: 11px;
	font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
	letter-spacing: 2px;
	text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
	color: #fdcc52;
	background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
	background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
	color: #222222;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
	color: #fdcc52;
}
#mainNav .item1{
	padding: 10px 0 0 0;
}
#mainNav .item2{
	padding: 5px 0 0 0;
}
#mainNav .item3{
	padding: 5px 0 10px 0;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

@media (min-width: 992px) 
{

	.sidebar{
		left: -370px;
		transition: all .5s cubic-bezier(0.53, 0.09, 0, 0.97);
	}
	.heading{
		font-size: 2.5rem;
	}
	.details{
		font-size: 1rem;
		color: #fff;
	}
	.sidebar_cover{
		display: none;
		transition: all .8s ease-in;
	}
	#mainNav {
		height: 120px;
		border-color: transparent;
		background-color: transparent;
	}
	#mainNav .navbar-menu { position: absolute;left: 7%;top: 50%; margin: -15px 0 0 0;}
	#mainNav .navbar-brand {
		background-color: #fff;
		width: 70px;
		height: 70px;
		text-align: center;
		margin-top: -3px;
		transition: all .2s ease-in;
	}
	#mainNav .navbar-brand > .logo{
		width: 20px;
		height: 20px;
        padding: 29px;
        padding-top: 20px;
        margin-left: 6px;
		background: url("/static/icon.svg") no-repeat center;
		background-size: 45px;
	}
	#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
		color: #fff;
		font-size: 26px;
	}
	#mainNav .navbar-nav > li > a,
	#mainNav .navbar-nav > li > a:focus {
		color: rgba(255, 255, 255, 0.8);
	}
	#mainNav .navbar-nav > li > a:hover,
	#mainNav .navbar-nav > li > a:focus:hover {
		color: white;
	}
	#mainNav.navbar-shrink {
		border-color: rgba(34, 34, 34, 0.1);
		background-color: white;
	}
	#mainNav.navbar-shrink .navbar-brand {
		color: #222222;
	}
	#mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
		color: #fdcc52;
	}
	#mainNav.navbar-shrink .navbar-nav > li > a,
	#mainNav.navbar-shrink .navbar-nav > li > a:focus {
		color: #222222;
	}
	#mainNav.navbar-shrink .navbar-nav > li > a:hover,
	#mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
		color: #fdcc52;
	}

	#mainNav .item1, #mainNav .item2, #mainNav .item3{
		padding: 0;
	}
}
@media (max-width: 480px) 
{
	.sidebar{
	}
	.text_div{
		max-width: 80%;
		margin-top: 10%;
	}
	.heading{
		font-size: 1.5rem;
	}
	.details{
		font-size: 1rem;

		color: #fff;
	}
	#mainNav .brand_pane{
		position: absolute;
		pointer-events: none;
		width: 104.5%;
		text-align: center;
		left: 0;
		top: 0;
		margin: auto;
		height:100%;
		padding-top:17px; 
	}
	#mainNav .navbar-brand {
		background-color: #fff;
		border-radius: 60px;
		width: 60px;
		height: 60px;
		transition: all .2s ease-in;
	}
	#mainNav .navbar-brand > p {
		font-size: 0px;
		transition: all 0s ease-in;
	}

	#mainNav .navbar-brand > .logo{
		margin: 6px 9px;
	}
}
